// docker.enabled = true
// docker.runOption = '--platform linux/arm64'
// env.DOCKER_DEFAULT_PLATFORM = 'linux/amd64'
profiles {
    conda {
        conda.enabled=true
        conda.useMamba=true
        conda.createOptions='-c bioconda -c nanoporetech'
        process.conda="./env.yml"
    }

    local {
        params.reads = "$projectDir/data/*.{fq, fastq}"
        params.ref = "$projectDir/ref/hg38.fa"
        params.gtf= "$projectDir/ref/hg38.gtf"
        params.outdir = "$projectDir/result"
        params.out = "$projectDir"
    }

    genepre {
        params.reads = ""
        params.ref = "$projectDir/data/Homo_sapiens.GRCh38.dna.primary_assembly.fa
        params.gtf = "$projectDir/data/Homo_sapiens.GRCh38.110.gtf"
        params.outdir = "$projectDir/result"
    }
}
