profiles {
    conda {
        conda.enabled=true
        conda.useMamba=true
        conda.createOptions='-c bioconda -c nanoporetech'
        process.conda="./env.yml"
    }

    local {
        params.reads = "$projectDir/data/*.{fq, fastq}"
        params.ref = "$projectDir/ref/hg38.fa"
        params.gtf= "$projectDir/ref/hg38.gtf"
        params.outdir = "$projectDir/result"
        params.out = "$projectDir"
    }

    genepre {
        params {
            reads = "$projectDir/data/*.{fq, fastq}"
            ref = "$projectDir/data/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
            gtf = "$projectDir/data/Homo_sapiens.GRCh38.110.gtf"
            outdir = "$projectDir/result"
        }

        conda.enabled=true
        conda.useMamba=true
        conda.createOptions='-c bioconda -c nanoporetech'
        process.conda="./env.yml"
    }
}
